<!--<div class="container">-->
  <!--<div class="col-xl-auto bg-secondary" style=" align-content: center; padding: 60px 60px; border: #1b1e21;">-->
    <!--<h2 style="text-align: center"><u><strong>Select a Configuration to Proceed</strong></u></h2>-->
    <!--<div class="col-xl-auto form-group">-->
        <!--<button (click)="hardConfig()" type="button" class="btn btn-info btn-group-lg">Configure Hardware</button>-->
        <!--<br><br>-->
        <!--<button (click)="airConfig()" type="button" class="btn btn-info btn-group-lg">Configure for AirAuth</button>-->
      <!--<hr>-->
    <!--</div>-->
    <!--<a (click)="onBack()" class="btn btn-danger">Back</a>-->
  <!--</div>-->
<!--</div>-->
<body>
<div class="container" style="border: #1b1e21;" >
  <div class="col-xl-auto " style="padding: 30px 40px;border-radius:4px;"id="asd">
    <h3 style="text-align: center"><u><strong>Select a Configuration to Proceed</strong></u></h3>
    <br>
    <ul>
      <li> <button (click)="hardConfig()" type="button" class="btn btn-dark btn-group-lg" style="font-family:'Exo',sans-serif;"><i>Configure Hardware</i></button></li>
      <br><br>
      <li> <button (click)="airConfig()" type="button" class="btn btn-dark btn-group-lg" style="font-family:'Exo',sans-serif;">Configure for AirAuth</button></li>
    </ul><br>
  </div>
  <br> <a (click)="onBack()" type="btn1" class="btn btn-outline-dark">Back</a>
</div>
</body>
